#btn {
    color:red;
    background-color: aqua;
    position: relative;
    border-width: 2px;
    transition: 0.5s ease;
}

#btn:hover{
  cursor: pointer;
  padding: .7rem 2rem;
}

body{
    background-image: url('backfground\ forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* background-image: radial-gradient( rgb(220, 116, 116), rgb(216, 216, 123));  */
    width: 100%;
    height: 100%;
  }

  #quoteBox{
    color: rgb(10, 99, 177);
    font-style: italic;
    font-size: large;
    display: flexbox;
    justify-content: center; 
  }

  