#btn {
    color:red;
    background-color: aqua;
    position: relative;
    border-width: 2px;
    transition: 0.5s ease;
}

#btn:hover{
  cursor: pointer;
  padding: .7rem 2rem;
}

body{
    background-image: url('snow\ gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* background-image: radial-gradient( rgb(220, 116, 116), rgb(216, 216, 123));  */
    width: 100%;
    height: 100%;
  }

  #quoteBox{
    color: rgba(2, 27, 154, 0.732);
    background-color: darkgray;
    margin-right: 400px;
    margin-left: 400px;
    font-style: italic;
    font-size: large;
    justify-content: center; 
  }

  